// Stabilizing selection with pleiotropic effects

// Please define the following constants that are used in the simulation:
// seed - This defines the seed of the simulation
// n - This is the degree of pleiotropic effects

initialize() {
	initializeTreeSeq();
	setSeed(seed);
	
	// Mutation information
	initializeMutationRate(1e-10);
	initializeMutationType("m1", 0.5, "f", 0.0); // QTL
	m1.convertToSubstitution = F;
	
	// Chromosome information
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 1e8-1);
	initializeRecombinationRate(1e-8);
	
	// Selection coefficient
	defineConstant("s_gamma_mean", 10);
	defineConstant("s_gamma_shape", 0.1);
	
	// Stabilizing selection constant
	defineConstant("w2", 1); // w2 in stabilizing selection
	
	// Population parameter
	defineConstant("N", 1000); // Population size

}

// create a population of N individuals
1 late() {
	sim.addSubpop("p1", N);
}

mutation(m1) {
	// Draw selection coefficient from gamma distribution
	s = rgamma(1, mean = s_gamma_mean, shape= s_gamma_shape)/(2*N);
	// Direction is +/- 1
	direction = 2 * rbinom(n=1, size=1, prob=0.5) - 1;
	effects = sqrt(s * w2) * direction;

	mut.setValue("e0", effects);
	return T;
}

late() {
	for (ind in sim.subpopulations.individuals){
		muts = ind.haplosomes.mutationsOfType(m1);

		phenotype = size(muts) ? sum(muts.getValue("e0")) else 0.0;
		ind.setValue("phenotype0", phenotype);
		
		// Stabilizing selection fitness function
		r2 = phenotype^2;
		fitness = exp(-r2/(2 * w2));
		ind.fitnessScaling = fitness;
	}
}

1:(10*N) late() {
	if (sim.cycle % 1000 != 0)
		return;
	catn();
	catn("Cycle: " + sim.cycle);
}

10*N early() {
	inds = sim.subpopulations.individuals;
	writeFile("stabilizing_phenotype_n_1_N_" + N + "_seed_" + seed +  ".txt", paste(inds.getValue("phenotype0"), sep=" "));
}